script(type='text/x-handlebars', data-template-name='my-profile')
  div.container
    div.row
      div.span6.offset2
        h3 My Profile

        table.table.table-bordered
          thead
            tr
              th User Name
              th First Name
              th Last Name
              th
          tbody
            tr
              td {{view.user.userName}}
              td {{view.user.firstName}}
              td {{view.user.lastName}}
              td <a {{action showEdit target="parentView"}} href="#">Edit</a>

  div#editUser(class='modal fade', data-backdrop="static", aria-hidden="true")
    div.modal-header
      <button class="close" {{action "cancelEdit" target="parentView"}}>&times;</button>
      h3 Edit My Profile
    div.modal-body
      form.form-horizontal
        div.register-group.control-group
          label.control-label First
          div.controls
            div.input-prepend
              span.add-on
            {{view view.updateTextField  valueBinding="view.editUser.firstName" placeholder="Enter your first name" }}
        div.register-group.control-group
          label.control-label Last
          div.controls
            div.input-prepend
              span.add-on
            {{view view.updateTextField valueBinding="view.editUser.lastName" placeholder="Enter your last name"}}
    div.modal-footer
      <button class="btn" {{action "cancelEdit" target="parentView"}}>Cancel</button>
      <button class="btn btn-primary" {{action "updateUser" target="parentView"}}>Save</button>
